.textbox {
    position: absolute;
    top: 70%;
    left: 50px;
}

.password-box {
    position: absolute;
    top: 40vh;
    left: 38vw;
}

.login {
    position: absolute;
    top: 10vh;
    left: 38vw;
}

.signup-signin {
    position: relative;
    top: 10vh;
}